<DataCollectorSet>
	<Status>0</Status>
	<Duration>0</Duration>
	<Description>
	</Description>
	<DescriptionUnresolved>
	</DescriptionUnresolved>
	<DisplayName>
	</DisplayName>
	<DisplayNameUnresolved>
	</DisplayNameUnresolved>
	<SchedulesEnabled>-1</SchedulesEnabled>
	<LatestOutputLocation>C:\PerfLogs\Admin\{{ item.value.name }}</LatestOutputLocation>
	<Name>{{ item.value.name }}</Name>
	<OutputLocation>C:\PerfLogs\Admin\{{ item.value.name }}</OutputLocation>
	<RootPath>%systemdrive%\PerfLogs\Admin\perfmon</RootPath>
	<Segment>0</Segment>
	<SegmentMaxDuration>0</SegmentMaxDuration>
	<SegmentMaxSize>0</SegmentMaxSize>
	<SerialNumber>9</SerialNumber>
	<Server>
	</Server>
	<Subdirectory>
	</Subdirectory>
	<SubdirectoryFormat>3</SubdirectoryFormat>
	<SubdirectoryFormatPattern>yyyyMMdd\-NNNNNN</SubdirectoryFormatPattern>
  <Task>Email-Perf-Alert</Task>
  <TaskRunAsSelf>0</TaskRunAsSelf>
  <TaskArguments>"{name}"  "{date}" "{threshold}%" "{value}" "{usertext}" "{counter}"</TaskArguments>
  <TaskUserTextArguments>
    Too many applications are running simultaneously on the virtual machine. An application may be leaking memory over time.
  </TaskUserTextArguments>
  <TaskUserTextArguments>
	</TaskUserTextArguments>
	<UserAccount>SYSTEM</UserAccount>
	<Security>O:BAG:S-1-5-21-2579215095-3538911897-3651000094-1001D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;LU)(A;;0x1301ff;;;S-1-5-80-2661322625-712705077-2999183737-3043590567-590698655)(A;ID;0x1f019f;;;BA)(A;ID;0x1f019f;;;SY)(A;ID;FR;;;AU)(A;ID;FR;;;LS)(A;ID;FR;;;NS)(A;ID;FA;;;BA)</Security>
	<StopOnCompletion>0</StopOnCompletion>
	<AlertDataCollector>
		<DataCollectorType>3</DataCollectorType>
		<Name>DataCollector01</Name>
		<Alert>{{ item.value.val }}</Alert>
		<AlertDisplayName>{{ item.value.val }}</AlertDisplayName>
		<EventLog>-1</EventLog>
		<SampleInterval>{{ item.value.sampleInterval }}</SampleInterval>
		<Task>EmailAlert-Argument</Task>
		<TaskRunAsSelf>0</TaskRunAsSelf>
		<TaskArguments>"{name}"  "{date}" "{threshold}%" "{value}" "{usertext}" "{counter}"</TaskArguments>
		<TaskUserTextArguments>{{ item.value.summary }}</TaskUserTextArguments>
		<TriggerDataCollectorSet>
		</TriggerDataCollectorSet>
	</AlertDataCollector>
	<DataManager>
		<Enabled>0</Enabled>
		<CheckBeforeRunning>0</CheckBeforeRunning>
		<MinFreeDisk>0</MinFreeDisk>
		<MaxSize>0</MaxSize>
		<MaxFolderCount>0</MaxFolderCount>
		<ResourcePolicy>0</ResourcePolicy>
		<ReportFileName>report.html</ReportFileName>
		<RuleTargetFileName>report.xml</RuleTargetFileName>
		<EventsFileName>
		</EventsFileName>
	</DataManager>
</DataCollectorSet>


